.user-profile {
    padding: 30px;
    color: #1e3a8a;
}
.user-profile-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.user-profile-info-left {
    display: flex;
    align-items: center;
    gap: 20px;
}
.edit button {
    background-color: transparent;
    border: none;
}
.edit img {
    width: 30px;
}
.aboutme {
    display: flex;
    justify-content: space-between;
}
.avatar {
    clip-path: circle();
    width: 12%;
    min-width: 100px;
}
.user-profile a {
    color: #1e3a8a;
}
.user-about p {
    margin-top: 0;
    margin-left: 30px;
}
.user-about h2,
.user-profile-ul h2 {
    margin-bottom: 0;
    margin-top: 30px;
}

.user-profile-ul ul {
    margin-top: 0;
}
.applications-li {
    cursor: pointer;
}
@media (max-width: 500px) {
    .user-profile h2 {
        font-size: 15px;
    }
    .user-profile p,
    .user-profile-ul {
        font-size: 12px;
    }
}
